.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  border: 0;
  border-radius: 1vh;
  background-color: red;
  color: black;
  width: 10vw;
  height: 5vh;
}

.button:hover {
  background-color: darkred;
  cursor: pointer
}