@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  border: 0.1vh solid rgba(255, 255, 255, 0.8);
  border-radius: 0.8vh;
  padding-inline: 0.8vw;
  padding-block: 0.8vh;
  /* padding-block: 0.1vw; */
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.container:hover {
  background: white;
  color: black;
  transition: all 0.3s ease-out;
}

.container > a {
  font-family: "Lato";
  font-weight: 400;
  font-size: 2.8vh;
}

.container > i {
  font-size: 2.5vh;
  margin-right: 0.5vw;
}