.container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  background: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading {
  width: 5vw;
}