.header_container {
  width: 100vw;
  height: 100vh;
  background: url("../../../Assets/Images/stars-background.gif"), url("../../../Assets/Images/background.png") center center; 
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-size: auto, cover;
}

img { 
  height: 85%;
  position: absolute;
  bottom: 0;
  right: 0;
}